.home {
  text-align: center;
  padding: 40px;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.product {
  flex-basis: calc(33.33% - 80px);
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}
.animated-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
}


.animated-image:hover {
  transform: translateY(-10px);
}

.price {
  background-color: #f0f0f0;
  padding: 10px;
}

.price-inner {
  color: blue;
}

.buy-now {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.buy-now:hover {
  transform: translateY(-5px);
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .product {
    flex-basis: calc(50% - 40px);
  }
}

@media screen and (max-width: 480px) {
  .product {
    flex-basis: calc(100% - 40px);
    margin-right: 0;
    margin-left: 0;
  }
}
